<h2>Lista de Departamentos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let departamento of departamentos">
            <td>{{ departamento.id }}</td>
            <td>{{ departamento.nome }}</td>
            <td>
                <button (click)="editDepartamento(departamento.id)">Editar</button>
                <button (click)="deleteDepartamento(departamento.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>